<section>
    <h2>create new post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">link</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn">create</button>
    </form>
</section>